nav a {
    text-decoration: none;
}

ul li i {
    list-style: none;
}
/* by removing i here list styles will go */

.main-direct {
    text-decoration: none;
    list-style: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}