nav a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
/* by removing i here list styles will go */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

.main-direct {
    text-decoration: none;
    list-style: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ref {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}