nav a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
/* by removing i here list styles will go */

body {
    background-image: linear-gradient(#5091c5 25%,#02050a 75%);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

.main-direct {
    text-decoration: none;
    list-style: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ref {
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: x-small;
}